.register {
	position: relative;
	padding-top: 64px;
	height: 100vh;
	box-sizing: border-box;
	background-color: #5a425c;
}

.register .logo {
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;
}

@media(min-width: 768px) {
	.register {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}

	.register .logo {
		margin: 0 64px 0 0;
		width: 150px;
		height: 150px;
	}
}

@media(min-width: 1200px) {
	.register .logo {
		margin-right: 100px;
		width: 200px;
		height: 200px;
	}
}