.home {
	padding-top: var(--header-height);
	background-color: #5a425c;
}

.home .addEventButton {
	position: fixed;
	bottom: 12px;
	right: var(--container-size);
}

@media (min-width: 768px) {
	.home .addEventButton {
		bottom: 46px;
	}
}