.addEventButton {
	background-color: #463448f2;
	box-shadow: 1px 1px 6px #d4d4d4;
	border: none;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	cursor: pointer;
	transition: background-color 250ms linear;
}

.addEventButton:hover {
	background-color: #826a86f2;
}

.addEventButton::after {
	content: "+";
	font-size: 25px;
	color: #ffffff;
}